body {
    margin: 0px;
    background-color: #C4C4C4;
}
.first {
    background-color: #E6E6E6;
    padding:  0px;
    width: auto;
    margin: 50px;
    display: inline-block;
}
.first_cube1 {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    float: left;
    margin: 0px 1000px 0px 0px;
}
.first_cube1_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    padding: 65px;
}
.second_cube1 {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    float: right;

}
.second_cube1_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}


.second {
    background-color: #E6E6E6;
    padding: 0px;
    width: auto;
    margin: 50px;
    display: inline-block;
}
.first_cube2 {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    float: left;
    margin: 0px 755px 0px 0px;

}
.first_cube2_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}
.small2 {
    float: right;
    display: inline-block;
}
.second_cube2 {
    width: 100px;
    height: 100px;
    background-color: #FC8F8F;

}
.second_cube2_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.three_cube2 {
    width: 100px;
    height: 100px;
    background-color: #FC8F8F;

    margin-left: 15px;
}
.three_cube2_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.four_cube2 {
    width: 100px;
    height: 100px;
    background-color: #FC8F8F;

    margin-left: 15px;
}
.four_cube2_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.five_cube2 {
    width: 100px;
    height: 100px;
    background-color: #FC8F8F;

    margin-left: 15px;
}
.five_cube2_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}

.three {
    background-color: #E6E6E6;
    padding: 0px;
    width: auto;
    margin: 50px;
    display: inline-block;
}
.first_cube3 {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    float: left;
    margin-right: 15px;
}
.first_cube3_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}
.second_cube3 {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    float: left;
}
.second_cube3_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;

}
.three_cube3 {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    float: left;
    margin-left: 570px;
}
.three_cube3_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}
.four_cube3 {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    float: right;
    margin-left: 15px;
}
.four_cube3_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}