body {
    margin: 0px;
    background-color: #C4C4C4;
}
.beggining {
    background-color: #E6E6E6;
    width: auto;
    margin: 50px 100px;
    display: inline-block;
}
.beggining div {
    display: inline-block;
}
.bigblock {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
}
.bigblock_content {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}
.smallblock {
    width: 100px;
    height: 100px;
    background-color: #FC8F8F;
    margin-left: 15px;
}
.smallblock_content {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.smallblock_2 {
    margin-left: 0px;
}
.first_cube1 {
    float: left;
    margin-right: 1500px;
}
.second_cube1 {
    float: right;
}
.first_cube2 {
    margin-right: 1243px;
    float: left;
}
.small2 {
    float: right;
}
.odin_dva {
    float: left;
}
.margin15 {
    margin-right: 15px;
}
.margin_2-3 {
    margin-right: 1062px;
}
.tri_cheture {
    float: right;
}